<div class="row">
    <div class="col-lg-8">
      <h1>Delivery Service Employees</h1>
    </div>
    <div class="col-lg-3">
      <input type="text" class="float-right" placeholder="search">

      <!-- Lab 9: Two-way Binding - search Text -->

    </div>
    <div class="col-lg-1">
      <button>New Employee</button>  <!-- Lab 16: Routing - Form Page -->
    </div>
  </div>
<hr>

<!-- Lab 13: Input Property - Counts -->


<div class="row">
<div class="col-lg-3"> <!-- Lab 10: *ngFor - data loop -->
    <div class="card">
    <img src="../../assets/images/female.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Girish Jedar</h5> <!-- Lab 11: Pipes - uppercase --> <!-- Lab 12: Custom Pipes - salutation -->
      <div class="card-text">
        <div class="row">
            <div class="col-lg-6">
                <span>Gender</span>
            </div>
            <div class="col-lg-6">
                <span>Male</span>
            </div>
            <div class="col-lg-6">
                <span>DOB</span>
            </div>
            <div class="col-lg-6">
                <span>22/01/1999</span>     <!-- Lab 10: *ngIf - null data -->  <!-- Lab 11: Pipes - date format -->
            </div>
            <div class="col-lg-6">
                <span>Op. Area</span>
            </div>
            <div class="col-lg-6">
                <span>Whitefield</span>
            </div>
        </div>
        <hr>
        <div>Available</div>
    </div>
    </div>
</div>
</div>
</div>
