.card{
    margin-bottom: 10%;
}

.card-img-top{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Lab 3: Styling Component */

.card-title{
    text-align: center;
}

/* Lab 8: box-shadow */

h1{
    color:#fdb913;
}