<h1>Add New Employee</h1>

<hr>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <!-- Lab 17: Forms and Controls -->
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" class="form-control" id="dob">
            </div>
            <div class="form-group">
                <label for="area">Area of Operation</label>
                <input type="text" class="form-control" id="area">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
    <div class="col-lg-4"></div>
</div>
